n8n_notification_automation.json
{
  "name": "Citation Alert Emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "citation-alerts",
        "options": {}
      },
      "id": "d68f1eb1-3361-4d25-9c52-d14513bff150",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        96
      ],
      "webhookId": "0db10686-9411-47d8-a96e-6fcce86f35d1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: subhansandhu312@gmail.com\nMy name is: Muhammad Subhan Azhar\nRecipient Name: {{ $json.body.recipient_name }}\nProfessor name: {{ $json.body.professors[0].professor_name }}\nRecipient Email: {{ $json.body.recipients }}\n\n\nPaper update data (only relevant if Alert Type is \"paper_update\"):\n- New paper count: {{ $json.body.new_paper_count }}\n- Citation alert count: {{ $json.body.citation_alert_count }}\n- New papers: {{ $json.body.new_papers }}\n- Citation alerts: {{ $json.body.citation_alerts }}\n\nCFP alert data (only relevant if Alert Type is \"cfp_alert\"):\n- Matching venues: {{ JSON.stringify($json.body.cfp_matches) }}",
        "options": {
          "systemMessage": "=You are an assistant that writes short, professional email alerts for a\nfaculty research monitoring tool.\n\nHere is the full JSON payload for this run:\n{{ JSON.stringify($json) }}\n\n\nLook at the \"alert_type\" field to decide what to write:\n\n- If alert_type is \"citation_update\": new_paper_count and\n  citation_alert_count are the TRUE totals, but new_papers and\n  citation_alerts only contain UP TO 10 example titles each (already\n  capped before reaching you — never assume you're seeing the full\n  list). Write a short email listing the given titles under \"New\n  Publications\" and \"Citation Increases\". If new_paper_count is greater\n  than the number of titles actually given, add one line like \"...and X\n  more\" using the difference. Skip a section entirely if its count is 0.\n\n- If alert_type is \"cfp_alert\": use cfp_count and cfps (each item has\n  venue, deadline, and matched_topics). List each under \"Upcoming Calls\n  for Papers\", one line per venue with its deadline. Skip if cfp_count\n  is 0.\n\nRules:\n- Keep it under 150 words, plain and professional, no marketing tone.\n- Do not invent details not present in the JSON.\n- End with a short one-line sign-off, no name or signature.\n- Output ONLY this JSON, nothing else — no markdown fences, no\n  commentary before or after:\n  {\n    \"subject\": \"string, under 60 characters\",\n    \"body\": \"string, plain text, use \\n for line breaks\"\n  } and it should also entertain a bit like Dear {{ $json.body.recipient_name }} here is whats new like papers form professor :{{ $json.body.professors[0].professor_name }}  and then show the new publications alerts or whatever ( if more than one professor than deal accordingly that what have what{{ $json.body.professors[0] }} )"
        }
      },
      "id": "ddf05309-f104-40a5-be18-bf65bb65df1b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "id": "ea0ea4d1-5b58-496a-97ee-0ee05e7cfd46",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "credentials": {
        "openRouterApi": {
          "id": "UuCHK99ATc7HaO9Q",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  let raw = item.json.output;\n\n  // Coerce non-string outputs (some models return an already-parsed object)\n  if (raw && typeof raw === 'object') {\n    return {\n      json: {\n        email_body: raw.body || \"New updates are available.\",\n        subject: raw.subject || \"Research Update\"\n      }\n    };\n  }\n  raw = String(raw == null ? '' : raw);\n\n  // Strip markdown code fences if the model added ```json ... ``` despite instructions\n  raw = raw.trim().replace(/^```(?:json)?\\s*/, '').replace(/\\s*```$/, '');\n\n  // Repair invalid JSON escapes. Valid JSON escapes after a backslash are\n  // only: \" \\\\ / b f n r t u. Free models sometimes emit stray backslashes\n  // before other characters (e.g. \\‑ before a non-breaking hyphen), which\n  // makes JSON.parse throw \"Unexpected token\". Drop those stray backslashes.\n  const sanitize = (s) => s.replace(/\\\\(?![\"\\\\/bfnrtu])/g, '');\n\n  const tryParse = (s) => {\n    try { return JSON.parse(s); } catch (e) { return null; }\n  };\n\n  // Try raw, then sanitized, then a brace-extracted substring (raw + sanitized)\n  let aiOutput = tryParse(raw) || tryParse(sanitize(raw));\n  if (!aiOutput) {\n    const match = raw.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      aiOutput = tryParse(match[0]) || tryParse(sanitize(match[0]));\n    }\n  }\n\n  if (!aiOutput || typeof aiOutput !== 'object') {\n    aiOutput = {\n      subject: \"Research Update\",\n      body: \"New updates are available. (Could not parse AI-generated content.)\"\n    };\n  }\n\n  return {\n    json: {\n      email_body: aiOutput.body || \"New updates are available.\",\n      subject: aiOutput.subject || \"Research Update\"\n    }\n  };\n});"
      },
      "id": "d4a549c6-5da9-474b-be0c-a22dd7612a04",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.recipients }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "966bc430-371a-4021-828d-8ff715b7eb8b",
      "name": "Send Citation Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        128
      ],
      "webhookId": "cf036dd8-81b9-4325-84a6-60f6e7c6e3b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "v7cTpCZT6bwg649w",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Citation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0417ad95-0778-401a-b073-1b9c42002e50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9d99a9190f23f2553077f31d8d0a9893779e990701d116a09a0fb89383207d6"
  },
  "nodeGroups": [],
  "id": "JXzJ2vxODBfafXhw",
  "tags": []
}